.profile__add_card {
	width: 150px;
	height: 50px;
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid #FFFFFF;
    outline: none;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
}

.profile__add_card:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
 
    .profile__add_card {
		width: 282px;
		margin: 0 auto;
	}

}